language: python
sudo: required
python:
- '2.7'
after_success:
- if [ "$TRAVIS_BRANCH" == "docker" ]; then
    docker login -u "$docker_username" -p "$docker_password";
    docker build -t sau2000:latest .;
    docker tag sau2000:latest sau2000/sau2000:latest;
    docker push sau2000/sau2000:latest;
    fi

install:
- pip install -r requirements.txt
script:
- ./manage.py migrate
- ./manage.py test
services:
- docker