language: python
sudo: required
python:
- '2.7'
after_success:
- if [ "$TRAVIS_BRANCH" == "docker" ]; then
    docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" 94.130.98.112:5000
    docker build -t sau2000 .
    ocker tag sau2000 94.130.98.112:5000/sau/sau2000
    docker push 94.130.98.112:5000/sau/sau2000
    fi

install:
- pip install -r requirements.txt
script:
- ./manage.py migrate
- ./manage.py test
services:
- docker