body {
    background-color: #D5D5D5;
    font-family: 'Oxygen', sans-serif;
    color: #3E3030;
}

a {
    color: #6E7A94;
}

.status {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #3E425C;
    color: #9099A2;
    z-index: 1;

    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

.inner-status {
    max-width: 1100px;
    min-width: 300px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.inner-status a {
    color: #D4DCE7;
}

.page-title {
    font-size: 12pt;
    margin: 0;
    line-height: 50px;
    padding: 0 15px 0 55px;
    display: inline-block;
    background: url(../img/logo.svg) no-repeat;
    background-size: 35px 35px;
    background-position: 10px 50%;
}

.page-title a {
    color: #9099A2;
    text-decoration: none;
}

.page-title a:hover {
    text-decoration: underline;
    color: #D4DCE7;
}

.breadcrumb {
    list-style: none;
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 0;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li:after {
    content: " → ";
}

.breadcrumb > li:last-child:after {
    content: "";
}

@media (max-width: 500px) {
    .breadcrumb {
        display: block;
        padding: 0 20px 20px 20px;
    }
}

.auth {
    position: absolute;
    right: 0;
    top: 0;
    right: 20px;
}


.search-box {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px 0;
    display: none;
    background-color: #1f212e;
    height: 50px;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;

}

.search-form {
    margin: 0 20px;
    position: relative;
}

.search-box .input {
    right: 100px;
    position: absolute;
    left: 0;
    top: 5px;

    box-sizing: border-box;
}

.search-box .input input {
    width: 100%;
    margin: 0;
    display: block;
}

.search-box .button {
    position: absolute;
    right: 0;
    top: 5px;
    box-sizing: border-box;
    text-align: right;
}

.search-box .button button {
    margin: 0;
}

.search-visible {
    display: block;
}

.content {
    max-width: 1100px;
    padding: 70px 20px 20px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .content {
        padding-top: 100px;
    }
}

.content h2 {
    margin-top: 0;
}

.content h2 .earmark {
    position: relative;
}

.content-box h3:first-child {
    margin-top: 0;
}

.earmark {
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
}

.earmark-number {
    text-align: center;
    font-family: monospace;
}

.earmark-r span /* Red */ {
    color: red;
}

.earmark-w span /* White */ {
    color: #ccc;
}

.earmark-y span /* Yellow */ {
    color: yellow;
}

.earmark-g span /* Green */ {
    color: green;
}

.earmark-b span /* Blue */ {
    color: blue;
}

.earmark-a span /* Gray */ {
    color: gray;
}

.earmark-c span /* Cyan */ {
    color: cyan;
}

.earmark-k span /* Black */ {
    color: black;
}

.gender {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.gender-Ram {
    background-image: url("/static/img/male.png");
    min-width: 1em;
    min-height: 1em;
}
.gender-Ewe {
    background-image: url("/static/img/female.png");
    min-width: 1em;
    min-height: 1em;
}
.gender-content {
    /* display: None? */
}


.sheep-image {
    max-width: 40%;
    float: left;
    box-sizing: border-box;
    padding: 10px 0 20px 0;
}

.sheep-image img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 1000px;
}

.sheep-title {
    clear: both;
}

.sheep-details {
    float: left;
    width: 60%;
    margin-top: 10px;
}

.sheep-details dl {
    margin: 0;
    padding-left: 40px;
}

.sheep-details dd {
    font-weight: bold;
    margin: 0;
}

.empty {
    color: #999;
}

.farm-name {
    font-family: Georgia, serif;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 2.2em;
    margin: 0 0 2em;
    padding: 1em 0 0;
    color: #666;
}

.prod-status {
    position: relative;
    padding-left: 14px;
}

.prod-status:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 100px;
}

.in-prod:before {
    background-color: green;
}

.non-prod:before {
    background-color: gray;
}

.sheep-details dt {
    margin-bottom: 10px;
}

.sheep-comment {
    line-height: 1.5;
}


.sau-section {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sau-section:after {
    content: "";
    clear: both;
    display: block;
}

.sau-section p {
    margin: 0;
}

.sau-section-header {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 1.3em;
    color: #96858D;
}

.sau-section ul {
    margin: 0;
    list-style: none;
}

.sau-section li {
    width: 33.3%;
    float: left;
    margin-bottom: 20px
}

.sau-definition {
    color: #96858D;
    text-transform: uppercase;
    font-size: 0.9em;
}

.form-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-list li {
    margin-bottom: 10px;
}

.form-list li.has-errors input {
    background-color: #FCE4E4;
    border-color: #EB4945;
}

.form-list .field-error {
    font-weight: bold;
    color: #CC0033;
}

.messages {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.messages .info {
    background-color: #DDEDF6;
}
.messages .warning {
    background-color: #FBF8E5;
}
.messages .success {
    background-color: #E2EFDA;
}
.messages .error {
    background-color: #EFDFDE;
}

/*
  Pure CSS Responsive Table.
  A Pen By Andor Nagy
*/
table.responsive {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

/* Zebra striping */
table.responsive tr:nth-of-type(odd) {
    background: #eee;
}

table.responsive th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

table.responsive td, table.responsive th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}
