{% extends 'index.html' %}
{% load humanize %}

{% block breadcrumb %}
<li>
  <span>
    Tree
  </span>
</li>
<li>
  <span>
    {% include "sheep_link.html" with sheep=sheep %}
  </span>
</li>
{% endblock %}

{% block content %}
<h2>Genealogy for {{ sheep.name }} </h2>

<div>
  Parents:
  <ul>
    <li>{% include "sheep_link.html" with sheep=sheep.father %}</li>
    <li>{% include "sheep_link.html" with sheep=sheep.mother %}</li>
  </ul>
</div>

<div>
  Statistics:
  <ul>
    <li>Dead children: {{ number_dead }}</li>
    <li>Qualities: {{ qualities }}</li>
  </ul>
</div>


<table class="pure-table responsive">
  <thead>
    <tr>
      <th>&Oslash;re</th>
      <th>Navn</th>
    </tr>
  </thead>
  <tbody>
    {% include "sheep_row.html" with sheep=descendants %}
  </tbody>
</table>
{% endblock %}
