{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sau2000</title>
    <link href="{% static "css/pure-min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/sau.css" %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static "/img/logo.svg" %}"/>
  </head>
  <body>
    {% block top_bar %}
    <div class="status">
      <div class="inner-status">
        <h1 class="page-title">{% block page_title %}<a href="{% url 'index' %}">Sau2000</a>{% endblock %}</h1>
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">{{farm}}</a> [<a href="{% url 'stats' %}">stats</a>]</li>
          {% block breadcrumb %}
          {% endblock %}
        </ul>
        <p class="auth">Hei, <a href="{% url 'admin:index' %}">{{ request.user.username }}</a>. <a href="{% url 'admin:logout' %}">Logg ut</a></p>
      </div>
    </div>
    {% endblock %}
    <div class="content">

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message | safe }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% block content %}
      <div class="content-box">

        <h2 class="farm-name">{{farm.name}} <a href="{% url 'new_sheep' %}">(+)</a></h2>

        <table class="pure-table responsive">
          <thead>
            <tr>
              <th>&Oslash;re</th>
              <th>Navn</th>
            </tr>
          </thead>
          <tr><td colspan=2><span class="prod-status in-prod">In production</span></td></tr>
          <tbody class="prod_sheep">
          {% include "sheep_row.html" with sheep=prod_sheep %}
          {% if dead_sheep %}
          </tbody>
          <tr><td colspan=2><span class="prod-status non-prod">Out of production</span></td></tr>
          <tbody class="dead_sheep">
          {% include "sheep_row.html" with sheep=dead_sheep %}
          </tbody>
          {% endif %}
        </table>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
