{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sau2000</title>
    <link href="{% static "css/pure-min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/sau.css" %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% block content %}
    <h1>Sau2000</h1>
    <table class="pure-table">
      <tr>
        <th>&Oslash;re</th>
        <th>Navn</th>
        <th>Mor</th>
        <th>Far</th>
        <th>Kj&oslash;nn</th>
      </tr>
      {% for s in sheep %}
      <tr>
        <td>{% include "earmark.html" with number=s.ear_tag color=s.ear_tag_color %}</td>
        <td><a href="sau/{{ s.slug }}">{{ s.name }}</a></td>
        {% if s.mother %}
        <td><a href="sau/{{s.mother.slug}}"> {{s.mother}} </td>
        {% else %}
        <td>N/a</td>
        {% endif %}
        <td><a href="sau/{{s.father.slug }}"> {{s.father}} </td>
        {% if s.father %}
        {% else %}
        <td>N/a</td>
        {% endif %}
        <td>{{ s.get_sex_display }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endblock %}
  </body>
</html>
