{% extends 'index.html' %}
{% load humanize staticfiles %}

{% block breadcrumb %}
<li>{% include "sheep_link.html" with sheep=sheep %}</li>
{% endblock %}

{% block content %}
<div class="content-box">
  <div class="sheep-image">
    {% if sheep.main_picture %}
    <img src="{{ MEDIA_URL }}{{sheep.main_picture}}">
    {% else %}
    <img src="{% static "img/example-sheep.jpg" %}">
    {% endif %}
  </div>

  <div class="sheep-details">
    <dl>
      <dd>{{ sheep.age }}</dd>
      <dt>Age</dt>

      <dd class="prod-status {% if not sheep.dead and not sheep.removed %}in-prod{%else%}non-prod{%endif%}">{% if not sheep.dead and not sheep.removed %}In production{% else %}Out of production{% endif %}</dd>
      <dt>Status</dt>

      <dd>{% include "earmark.html" with number=sheep.ear_tag color=sheep.ear_tag_color %}</dd>
      <dt>Earmark</dt>

      <dd>{{ sheep.get_sex_display }}</dd>
      <dt>Gender</dt>
    </dl>
  </div>

  <h2 class="sheep-title">{{ sheep.name }}</h2>

  <p class="sheep-comment">
    {{sheep.comments}}
  </p>

  <ul class="sau-section">
    <li>
      <p class="sau-definition">Mother</p>
      <p class="sau-data">
        {% if sheep.mother %}
        <a href="/sau/{{sheep.mother.slug}}">{{sheep.mother}}</a>
        {% else %}
        No mother
        {% endif %}
      </p>
    </li>

    <li>
      <p class="sau-definition">Father</p>
      <p class="sau-data">
        {% if sheep.father %}
        <a href="/sau/{{sheep.father.slug }}"> {{sheep.father}} </a>
        {% else %}
        No father
        {% endif %}
      </p>
    </li>

    <li>
      <p class="sau-definition">Origin</p>
      <p class="sau-data">
        {{ sheep.origin|default:sheep.farm.name }}</p>
    </li>
  </ul>
</div>

<div class="content-box">
  <h3>Offspring</h3>
  {% if sheep.children %}
  <table class="pure-table responsive">
    <thead>
      <tr>
        <th>&Oslash;re</th>
        <th>Navn</th>
      </tr>
    </thead>
    {% if prod_children %}
    <tr><td colspan=2><span class="prod-status in-prod">In production</span></td></tr>
    <tbody class="prod_sheep">
    {% include "sheep_row.html" with sheep=prod_children %}
    </tbody>
    {% endif %}
    {% if dead_children %}
    <tr><td colspan=2><span class="prod-status non-prod">Out of production</span></td></tr>
    <tbody class="dead_sheep">
    {% include "sheep_row.html" with sheep=dead_children %}
    </tbody>
    {% endif %}
  </table>
  {% else %}
  <p class="empty">No offspring</p>
  {% endif %}
</div>

<div class="content-box">
  <ul class="sau-section">
    <li>
      <p class="sau-definition">Offspring in production</p>
      <p class="sau-data">
        {{ prod_children|length }}
      </p>
    </li>

    <li>
      <p class="sau-definition">Offspring out of production</p>
      <p class="sau-data">
        {{ dead_children|length }}
      </p>
    </li>

    <li>
      <p class="sau-definition">Weight key numbers</p>
      <p class="sau-data">
      min: {{ stats.weight_min }}, 
      avg: {{ stats.weight_avg }}, 
      max: {{ stats.weight_max }}, 
      std: {{ stats.weight_std }}
      </p>      
    </li>
  </ul>

  {% include "statistics.html" %}
</div>

<div class="content-box">
  <h3>Medicine</h3>

  {% if doses %}
  <table class="pure-table doses-table">
    <thead>
      <tr>
        <th>Dato</th>
        <th>Medisin</th>
        <th>Mengde</th>
      </tr>
    </thead>
    {% for d in doses %}
    <tr>
      <td>{{ d.date_utc }}</td>
      <td>{{ d.medicine.name }}</td>
      <td>{{ d.amount }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p class="empty">No medicine administered.</p>
  {% endif %}
</div>

<div class="content-box">
  <h3>Administration</h3>
  <ul class="admin-links">
      <li><a href="/sau/{{ sheep.slug }}/dose">Administer medicine</a></li>
      <li><a href="{% url 'edit_sheep' sheep.slug %}">Edit Sheep</a></li>
      <li><a href="{% url 'admin:sau_sheep_delete' sheep.id %}">Delete Sheep</a></li>
  </ul>
</div>

{% endblock %}
