{% extends 'index.html' %}
{% load humanize %}

{% block breadcrumb %}
<li><span>Sau</span></li>
<li><span>{{ sheep.name }}</span></li>
{% endblock %}

{% block content %}
<h2>{{ sheep.name }} {% include "earmark.html" with number=sheep.ear_tag color=sheep.ear_tag_color %}</h2>


<div class="sau-section">
  <p class="sau-section-header">Administration</p>
  <ul>
    <li>
      <p class="sau-definition">Details</p>
      <p class="sau-data"><a href="{% url 'admin:sau_sheep_change' sheep.id %}">Edit Sheep</a></p>
    </li>
    <li>
      <p class="sau-definition">Deletion</p>
      <p class="sau-data"><a href="{% url 'admin:sau_sheep_delete' sheep.id %}">Delete Sheep</a></p>
    </li>

  </ul>
</div>

<div class="sau-section">
  <p class="sau-section-header">Background</p>
  <ul>

    <li>
      <p class="sau-definition">Born</p>
      <p class="sau-data">{{ sheep.birth_date_utc }} (age: {{ sheep.birth_date_utc | timesince }})</p>
    </li>

    {% if sheep.mother %}
    <li>
      <p class="sau-definition">Mother</p>
      <p class="sau-data"><a href="/sau/{{sheep.mother.slug}}">{{sheep.mother}}</a></p>
    </li>
    {% endif %}

    {% if sheep.father %}
    <li>
      <p class="sau-definition">Father</p>
      <p class="sau-data"><a href="/sau/{{sheep.father.slug }}"> {{sheep.father}} </a></p>
    </li>
    {% endif %}

    {% if sheep.origin %}
    <li>
      <p class="sau-definition">Origin</p>
      <p class="sau-data">{{ sheep.origin }}</p>
    </li>
    {% endif %}

  </ul>
</div>

{% if sheep.children %}
<div class="sau-section">
  <p class="sau-section-header">Descendants</p>
  <ul>
    {% for s in sheep.children %}
    <li>
      <p class="sau-definition">{% include "earmark.html" with number=s.ear_tag color=s.ear_tag_color %}</p>
      <p class="sau-data"><a href="/sau/{{ s.slug }}">{{ s.name }}</a></p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if doses %}
<div class="sau-section">
  <p class="sau-section-header">Medicine</p>
  <ul>
    <li>
      <p class="sau-definition">Doses</p>
      <div class="sau-data">
        <table class="pure-table doses-table">
          <thead>
            <tr>
              <th>Dato</th>
              <th>Medisin</th>
              <th>Mengde</th>
            </tr>
          </thead>
          {% for d in doses %}
          <tr>
            <td>{{ d.date_utc }}</td>
            <td>{{ d.medicine.name }}</td>
            <td>{{ d.amount }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </li>
  </ul>
</div>
{% endif %}

<div class="sau-section">
  <p class="sau-section-header">Other</p>
  <ul>
    <li>
      <p class="sau-definition">Comments</p>
      <p class="sau-data">{{ sheep.comments|default:"Ingen kommentar" }}</p>
    </li>
    <li>
      <p class="sau-definition">Medicine</p>
      <p class="sau-data"><a href="/sau/{{ sheep.slug }}/dose">Add dose</a></p>
    </li>
  </ul>
</div>

{% endblock %}
